/*-- scss:defaults --*/

$font-family-sans-serif: "Computer Modern Serif";
$font-family-monospace: "Computer Modern Typewriter";
$bs-body-font-family: "Computer Modern Serif";
$web-font-path: "No";

/*-- scss:rules --*/

@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: 400;
  src: url("resources/fonts/cmunrm.woff") format("woff");
}

@font-face {
  font-family: "Computer Modern serif";
  font-style: italic;
  font-weight: 400;
src: url("resources/fonts/cmunrm.woff") format("woff");
}

@font-face {
    font-family: "Computer Modern Typewriter";
    font-style: normal;
    font-weight: 400;
  src: url("resources/fonts/cmuntt.woff") format("woff");
  }

// /* lato-700 - latin-ext_latin */
// @font-face {
//   font-display: swap;
//   font-family: "Computer Modern";
//   font-style: normal;
//   font-weight: 700;
//   src: url("resources/fonts/EBGaramond-Regular.ttf") format("ttf");
// }

// /* lato-700italic - latin-ext_latin */
// @font-face {
//   font-display: swap;
//   font-family: "Computer Modern";
//   font-style: italic;
//   font-weight: 700;
//   src: url("resources/fonts/EBGaramond-Italic.ttf") format("ttf");
// }

// https://stackoverflow.com/questions/73659027/quarto-howto-use-a-custom-webfont
// https://stackoverflow.com/questions/75464776/how-to-override-the-default-font-using-locally-stored-fonts-in-themes
// https://github.com/dreampulse/computer-modern-web-font
// https://checkmyworking.com/cm-web-fonts/